@media only screen and (max-width : 750px){
    #portfolio h1{font-size: 3em;}
    #home{font-size: 1.3em;}
}


@media only screen and (min-width : 580px){
    .angled {
        transform-origin: 0 50%;
        transform: rotate(-10deg) skewX(-10deg) skewY(-10deg);
        width: 101.55%;
    }
    .reverse {
        transform-origin: 0 50%;
        transform: rotate(9deg) skewX(9deg) skewY(10.45deg);
    }
    #home {height: 930px;}
}


@media only screen and (max-width: 580px){
    #portfolioFill {margin-bottom: -10px; margin-top: -22px; height: auto; padding-bottom: 30px;}
    #aboutFill {height: auto; padding-bottom: 30px;}
    #contactIc a {width: 24%;}
    #contactIc img {width: 90%;}
}
