/***** GENERAL LAYOUT *****/

nav {
    width: 100%;
    background-color: #27282f;
    position: fixed;
    margin-top: 0;
    z-index: 1;
}

nav li {
    width: 25%;
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-left: -5px;
    padding: 30px 0;
    color: #fff;
}

nav li:hover {
    color: aquamarine;
}

div.separationBar {
    position: absolute;
    height: 300px;
    transform-origin: 0 50%;
    transform: rotate(-11deg) skewX(-11deg) skewY(-11deg);
    background-color: black;
    top: 864px;
    width: 110%;
}

#home {
    position: absolute;
    margin-top: 200px;
    clear: both;
    height: 800px;
    width: 100%;
    text-align: center;
}



