/***** UNIVERSAL *****/
.angled {
	transform-origin: 0 50%;
    transform: rotate(-10deg) skewX(-10deg) skewY(-10deg);
    width: 102%;
}

.reverse {
    transform-origin: 0 50%;
    transform: rotate(9deg) skewX(9deg) skewY(10.45deg);
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}

body {
    background-color: #02010d;
    font-family: 'Orbitron', sans-serif;
}

/***** NAVIGATION *****/

nav {
    width: 100%;
    background-color: #27282f;
    position: fixed;
    margin-top: 0;
    z-index: 1;
    top: 0;
    left: 0;
}

nav li {
    width: 25%;
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-left: -5px;
    padding: 30px 0;
    color: #fff;
    border-radius: 5px;
}

nav li:hover {
    color: #5bba9a;
    background-color: #1e1e21;
}

/***** PAGE LAYOUTS *****/

#home {
    margin-top: 200px;
    clear: both;
    height: 930px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster', cursive;
    color: #22f207;
}

div#separationBar {
    display: block;
    position: absolute;
    height: 350px;
    background-color: black;
    top: 900px;
}

#aboutFill {
	display: block;
    height: 700px;
    background-color: cadetblue;
    z-index: 3;
    margin-top: 125px;
    padding-top: 10px;
}

#about {
    display: block;
    text-align: center;
    width: 60%;
    margin: auto;
    z-index: 2;
    margin-top: 50px;
}

#portfolioFill {
    padding-top: 10px;
	height: 2000px;
    background-color: black;
}

#portfolio {
	top: 50px;
}

